/*Media Queries
Code by Proton*/

@media (max-width: 576px){
    .mobile{display: block!important; padding: 30px;}
    footer{left: 0%; width: 100%;}
    .pc{display: none!important;}
    .mod-calculator,.mod-inverse,.mod-primitive-root,.mod-logarit,.encrypt-RSA,.encrypt-DH,.encrypt-E{margin-top: 40px!important; margin-bottom: 30px;}
    h4.line-height{display: none!important;}
}